.sidebar {
    width: 170px;
    height: 607px;
    position: absolute;
}
.sidebar-menu {
    height: 537px;
    margin-top: 70px;
}
.sidebar-menu > li {
    list-style: none;
    height: 30px;
    margin-left: -35px;
}
.sidebar-menu-link {
    padding-top: 2px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}
.sidebar-menu-link:hover {
    background-color: var(--sidebar-button-hover-bg);
}
.sidebar-icon {
    width: 22px;
    margin-left: 5px;
    margin-right: 10px;
    
}